<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448894152864-42qf201n4h5vncbo343268jikk25adb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448894152864-42qf201n4h5vncbo343268jikk25adb8</string>
	<key>API_KEY</key>
	<string>AIzaSyA2EOjvr4hM4tiOK4rDEiCxpkaoJqUx-Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>448894152864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asira.asiranews</string>
	<key>PROJECT_ID</key>
	<string>asiranews</string>
	<key>STORAGE_BUCKET</key>
	<string>asiranews.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448894152864:ios:34eeb4fd7c57321e9fd9c5</string>
</dict>
</plist>